<div class="centered-container">
	<%= render partial: "marketplace/partials/filters" %>
	<hr>
	<div class="offers grid-4_xs-1">
		<% @offers.each do |offer| %>
			<%= render partial: "marketplace/partials/offer", locals: {offer: offer} %>
		<% end %>
		<div class="clearfix"></div>
	</div> <!-- .offers -->
</div> <!-- .col-lg-12 -->